/* Responsive */
@media (max-width: 1400px) {
    .floating-bg {
        top: -120vw;
    }

    .water-content {
        /* margin-top: -100px; */

    }

    .section-1-heading {
        font-size: 6rem;
        top: 25vw;
        width: 70rem;
    }

    .logo {
        top: 75%;
    }

    .logo i {
        font-size: 10rem;
    }

    .section-heading {
        font-size: 8rem;
        margin-bottom: 10rem;
    }

    .section-2 {
        height: auto;
    }

    .customers-wrapper {
        flex-wrap: wrap;
    }

    .customer {
        margin: 5rem 10rem;
    }

    .section-3 {
        height: auto;
    }

    .team-wrapper {
        flex-wrap: wrap;
    }

    .team-member {
        margin: 5rem 10rem;
    }

    .form-container {
        height: 60%;
    }

    .form-img {
        display: none;
    }

    .contact-form {
        transform: translateY(0);
    }

    .contact-form:hover {
        transform: translateY(-1rem);
    }

    .copyright {
        margin: 5rem 0 4rem 0;
    }
}

@media (max-width: 1150px) {
    .floating-bg {
        top: -110vw;
    }

    .section-1-heading {
        font-size: 5rem;
        top: 30vw;
        width: 60rem;
    }

    .logo i {
        font-size: 9rem;
    }
}

@media (max-width: 950px) {
    .floating-bg {
        top: -100vw;
    }

    .section-1-heading {
        top: 40vw;
    }
}

@media (min-width: 751px) {
    .mobileArea {
        display: none;
    }
}

@media (max-width: 750px) {
    html {
        font-size: 50%;
    }

    .laptopArea {
        display: none;
    }

    .mobileArea {
        display: block;
    }

    .mobileNav {
        display: flex;
        justify-content: center;
        flex-direction: row;
        width: 97vw;
        height: 100px;
        filter: drop-shadow(0 0 5px rgba(31, 31, 31, 0.1));
        position: fixed;
        bottom: 0;
        z-index: 10;
    }


    .mobileNav-slot {
        flex-basis: 19.9%;
        text-align: center;
        height: 100%;
        display: flex;
        align-items: center;
        background: #3044a5;
        justify-content: center;
    }

    .mobileNav-link {
        width: fit-content;
        height: 25px;
        line-height: 1.5;
        align-items: center;
        color: #fff;
        border-radius: 50rem;
        padding: 0.5rem 0.5rem;
        transition: 0.3s all;
    }

    .active {
        color: #fff;
    }

    .mobileNav-link:hover {
        transition: 0.3s all;
        background: rgba(31, 31, 31, 0.1);
    }

    .round-top-left {
        border-top-left-radius: 15px;
    }

    .round-top-right {
        border-top-right-radius: 15px;
    }

    .floating-bg {
        top: -90vw;
    }

    .section-1-heading {
        top: 48vw;
    }

    .section-heading {
        margin-bottom: 5rem;
    }
}

@media (max-width: 550px) {
    html {
        font-size: 45%;
    }

    .floating-bg {
        top: -70vw;
    }

    .section-1-heading {
        top: 65vw;
        width: 42rem;
        font-size: 3.5rem;
    }

    .section-heading {
        font-size: 6rem;
    }

    .customer {
        margin: 5rem 0;
    }

    .team-member {
        margin: 5rem 0;
    }

    .section-4 {
        height: auto;
    }

    .form-container {
        background-color: transparent;
        box-shadow: none;
    }

    .contact-form {
        box-shadow: 1rem 1rem 2rem #aaa;
    }

    .contact-form:hover {
        box-shadow: 2rem 2rem 3rem #aaa;
    }

    .copyright {
        font-size: 1.8rem;
        margin: 5rem;
        text-align: center;
    }

    .scroll-up-btn {
        bottom: 2rem;
        right: 2rem;
    }
}

@media (max-width: 991px) {
    footer {
        padding: 40px;
    }

    footer .footer-container {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 20px;
    }

    .copyrightText {
        padding: 5px 40px;
    }
}

@media (max-width: 768px) {
    footer .footer-container {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 20px;
    }
}

/* End of Responsive */